<div class="mb-2">
  <div class="flex">
    <div class="flex-shrink-0 w-32 flex items-center justify-center">
        <%- include(
          '_tournamentBadge',
          {
            tournament,
            badgeColor,
          }
        ) %>
    </div>
    <div class="ml-2 flex flex-col">
      <% for( let i = 0; i < names.length; i++ ) { %>
      <span class="text-gray-600"><%= names[i] %></span>
      <% } %>
    </div>
  </div>
</div>
