<div class="container mx-auto px-4">
  <div class="max-w">
    <h1 class="text-5xl font-bold mb-6">Teams</h1>
    <p class="text-xl mb-8">
      There are a total of <%= teamsDetails.length %> teams from 16 different entities.
    </p>

    <!-- Teams area -->
    <div class="bg-white text-gray-800 rounded-lg p-6 mb-8">
      <div class="grid md:grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-6">
        <% for( let index = 0; index < teamsDetails.length; index++ ) { %>
            <%- include(
                '_teamDetails',
                { ...teamsDetails[index], tournamentAcronyms}
            ) %>
        <% } %>

      </div>
    </div>
  </div>
</div>
