<!-- filepath: /c:/Users/neo16/Downloads/EurotennisTest/EurotennisTest/views/partials/header.ejs -->
<header>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/tournaments">Tournaments</a></li>
        <li><a href="/orderOfPlay">Order of Play</a></li>
        <li><a href="/teams">Teams</a></li>
      </ul>
    </nav>
  </header>