<!-- filepath: /c:/Users/neo16/Downloads/EurotennisTest/EurotennisTest/views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header') %>
  <h1>Welcome to Eurotennis</h1>
  <p>This is the home page.</p>
  <%- include('partials/footer') %>
</body>
</html>