<!-- filepath: /c:/Users/neo16/Downloads/EurotennisTest/EurotennisTest/views/tournaments.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header') %>
  <h1>Tournaments</h1>
  <p>This is the tournaments page.</p>
  <%- include('partials/footer') %>
</body>
</html>